<!-- Footer -->
<footer class="footer">
        <div class="container col-12 bg-success">
                <div class="row text-center justify-content-center">
                        <h5 class="text-uppercase navbar-brand">Shoppin Marketplace</h5>

                </div>
                <div class="row text-left mt-2 justify-content-center">
                        <div class="col-sm-8 col-md-3 col-lg-3 footer-cols mb-sm-2">
                                <h5>Get to Know Us</h5>
                                <ul>
                                        <li>Careers</li>
                                        <li>Investor Relations</li>
                                        <li>Press Releases</li>
                                </ul>
                        </div>
                        <div class="col-sm-8 col-md-3 col-lg-3 footer-cols mb-sm-2"><h5>Let Us Help You</h5>
                                <ul>
                                        <li>Shipping Rates & Policies</li>
                                        <li>Manage your Content and Devices</li>
                                        <li>Customer Service</li>
                                </ul>
                        </div>
                        <div class="col-sm-8 col-md-3 col-lg-3 footer-cols mb-sm-2"><h5>Let Us Help You</h5>
                                <ul>
                                        <li>Shipping Rates & Policies</li>
                                        <li>Manage your Content and Devices</li>
                                        <li>Customer Service</li>
                                </ul>
                        </div>
                        <div class="col-sm-8 col-md-3 col-lg-3 footer-cols mt-sm-2"><h5>Let Us Help You</h5>
                                <ul>
                                        <li>Shipping Rates & Policies</li>
                                        <li>Manage your Content and Devices</li>
                                        <li>Customer Service</li>
                                </ul>
                        </div>
                </div>
                <div class="row">
                        <div class="col-12 socials">
                                <ul class="">
                                        <li><a href="#!"><i class="fab fa-twitter text-dark"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-facebook-f text-dark"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-instagram text-dark"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-linkedin-in text-dark"></i></a></li>
                                </ul>
                        </div>
                </div>

        </div>
</footer>
<!-- Footer -->