<div class="alert alert-success" role="alert">
  Welcome {{user.firstName}} {{user.lastName}}
</div>
<!-- Login Form -->
<div class="column">
  <div class="row justify-content-center">
    <form class="form" method="POST" action="/add" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Product Name</label>
        <input class="form-control" type="text" id="title" class="fadeIn second" name="title"
          placeholder="Enter the product name">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea id="desc" name="desc"></textarea><br><br>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="number" id="price" class="fadeIn third" name="price"
          placeholder="Enter the price">
      </div>
      <div class="form-group">
        <label for="cat">Category</label>
        <select id="cat" name="cat">
          <option value="electronics">electronics</option>
          <option value="home">home</option>
          <option value="outdoor">outdoor</option>
          <option value="clothing">clothing</option>
        </select </div>
        <div class="form-group">
          <label for="quant">Quantity</label>
          <input class="form-control" type="number" id="quant" class="fadeIn third" name="quant" placeholder="quant">
        </div>
        <div class="form-group">
          <label for="best">Best Seller</label>
          <div class="options">
            <input type="radio" id="best" name="best" value="true">
            <label for="best">Best</label><br>
            <input type="radio" id="not" name="not" value="false">
            <label for="not">Not</label><br>
          </div>
        </div>
        <div class="form-group">
          <label for="pic">image upload</label>
          <input class="form-control" type="file" id="pic" class="fadeIn third" name="pic">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
  </div>
</div>